<app-menu [chessboards]="chessboards"
          [chessboard]="chessboard"
          [piece]="piece"
          [pieces]="pieces">
</app-menu>
<div layout="row">
    <div flex>
        <app-chess-board [chessboards]="chessboards"
                         [chessboard]="chessboard"
                         [piece]="piece"
                         [pieces]="pieces"
                         [position]="position"
                         [game]="game">
        </app-chess-board>
    </div>
    <div flex>
        <app-notation [game]="game">
            
        </app-notation>
    </div>
</div>